<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Exotic Auto Traders</title>
  {% load static %}

  <link rel="icon" href="{% static 'images/car.png' %}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!--




-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.css' %}">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index">
          <h2> Exotic <em> Auto </em> Traders</h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Vehicle">Our Vehicles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>About Us</h4>
            <h2>Our Company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="static/images/main.jpg" class="rounded" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p> Exotic Auto Traders was founded in 2004 and specialized in the automotive industry for as many as 15
              years, and Exotic Auto has become the best and largest car supplier. At the beginning of the Exotic Auto
              Traders, a single owner imports vehicles from Japan using an Online vehicle binding platform and it bids
              and decided to order vehicles in good auction categories and shipped to Sri Lanka.Exotic Auto Traders is a
              vehicle trading company in which customers can get any kind of vehicle at a single spot. This business
              process done through the website is very complicated because all the vehicle details and vehicles are
              displayed on this website. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us my-5  py-5">
    <div class="container">
      <div class="section-heading1">
        <img src="static/images/mission1.jpg" class="rounded" alt="">
        <div class="row">
          <div class="col-sm-12 col-md-6 py-5">
            <h1>Our Mission</h1>
            To Offer our Customers Fantastic Quality Cars at Highest Possible Prices with Excellent Service.To attract
            and attain customers with high-valued products and services and the most satisfying ownership experience in
            Sri Lanka
          </div>
          <div class="col-sm-12 col-md-6 py-5">
            <h1>Our Vision</h1>
            To be the number one preferred provider of high quality motor vehicles and associated services for
            sustainable development by excellent customer support, creativity, quality and engagement.
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <img src="static/images/icon2.png">
              </div>
              <div class="down-content">
                <h4>Buying A Car</h4>
                <p>Before meeting consumers, these vehicles go through a rigorous quality review. We only get premium
                  vehicles that are subject to stringent testing to ensure they follow the highest quality standard.
                  Until exporting it to every other region, Japanese used cars go through rigorous quality tests. The
                  standard of the vehicles ensures a special grading system that lets consumers assess the standard of
                  the car.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <img src="static/images/icon1.png">
              </div>
              <div class="down-content">
                <h4>Car Maintenance</h4>
                <p>This covers service & repairs by experienced car mechanics at our state of the art 'Drive Clean'
                  service centers. 1st 2 Electric vehicle systems are offered free of charge. Roadside help in an
                  emergency. Fast and reliable service. Priority service.We are able to supply all types of cars, any
                  brand, any commodity. We specialize in old & brand new cars from Japan. On demand from consumers, we
                  could supply any car.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <img src="static/images/icon3.png">
              </div>
              <div class="down-content">
                <h4>Support 24/7</h4>
                <p>Maintaining a global viewpoint, we are dedicated to supplying products of the highest quality, yet at
                  a reasonable price for customers.We believe in complete customer care, but our devoted workers still
                  work hard to maintain sophisticated customer support. In this, we aim to build a dedicated set of
                  clients who will become our brand ambassadors in exchange. <br> Contact - 011-269-2236
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
               <p>Copyright &copy; 2020 Exotic Auto Traders</P>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; 
      function clearField(t) { 
        if (!cleared[t.id]) { 
          cleared[t.id] = 1; 
          t.value = ''; 
          t.style.color = '#fff';
        }
      }
    </script>


</body>

</html>