{% extends "base.html" %}

{% load static %}
{{ block.super }}

{% block title %}{{ block.super }} | Delete User{% endblock %}

{% block body %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end">
                <a href="{% url 'user' %}">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the user"{user}}"?
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete_user' user.id %}" method="post">
                    {% csrf_token %}
                <a href="{% url 'offer' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
                <input type="submit" class="btn btn-primary" value="Confirm">
            </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

