{% extends "base.html" %}
{% load static %}
{{ block.super }}

{% block title %}{{ block.super }} | Vehicle{% endblock %}

{% block body %}


<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>Exotic Auto Traders Products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">All Products</li>
            <li data-filter=".des">Featured</li>
            <li data-filter=".dev"> News Deals</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters-content">
          <div class="row grid">
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/vehicle1.jpg' %}" alt="">
                  <img src="{% static 'images/int4.webp' %}" alt="">
                  <img src="{% static 'images/int5.jpg' %}" alt="">
                </div>
                <div class="down-content">

                  <h4>Toyota Prius<br>ZVW50 2016</h4>
                  </a>
                  <h6>Rs 6,500,000</h6>
                  <p>Model: Toyota Prius ZVW50 2016</p>
                  <p>Transmisson :Automatic/Hybrid</p>
                  <p>Condtion: Used / 20000km</p>
                  <p> Description :1 st owner / Petrol / stearling warrenty and services records availlble/ accident
                    free car /
                    reverse cameras/ setup</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/vehicle2.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int2.webp' %}" alt=""></a>
                  <img src="{% static 'images/int3.webp' %}" alt=""></a>
                </div>
                <div class="down-content">

                  <h4>Toyota CHR GT <br> TURBO 2017</h4>
                  </a>
                  <h6>Rs Rs 7,675,000</h6>
                  <p>Model: TOYOTA CHR GT TURBO</p>
                  <p>Transmisson :Automatic</p>
                  <p>Condtion: Brand New</p>
                  <p> Description : Petrol / Gray colour / led headlights / day time running lights / multi function /
                    crusiecontrol / lane departure
                  </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button> </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all ">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/int6.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int7.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int8.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">

                  <h4>BMW X1 NewFace <br> 2019</h4>
                  </a>
                  <h6>Rs 16,240,000</h6>
                  <p>Model: BMW X1 NewFace</p>
                  <p>Transmisson :Automatic</p>
                  <p>Condtion: Brand New</p>
                  <p>Description : Petrol / Navy Blue colour / Panoramic Sunroof / day time running lights / multi
                    function /
                    BMW Navigation Plus</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button> </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all ">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/int9.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int10.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int11.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">

                  <h4>Mercedes Benz <br> C200 AMG </h4>
                  </a>
                  <h6>Rs 15,500,000</h6>
                  <p>Model: Mercedes Benz c200</p>
                  <p>Transmisson :tiptronic</p>
                  <p>Condtion: used / 11000km</p>
                  <p>Description : Petrol /2200Cc / silver colour / Panoramic Sunroof / Active Park Assistant / multi
                    function
                    / 18” AMG Wheels / Full Option</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button> </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all dev">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/int13.webp' %}" alt=""></a>
                  <img src="{% static 'images/int14.jpg' %}" alt=""></a>
                  <img src="{% static 'images/inttt.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">

                  <h4>Honda CRV EX </h4>
                  </a>
                  <h6>Rs 16,790,000</h6>
                  <p>Model: Honda CRV 2018</p>
                  <p>Transmisson :tiptronic</p>
                  <p>Condtion: Brand New</p>
                  <p>Description : Petrol / Red colour / Panoramic Sunroof / 1500 Cc Turbo Vti-L Grade / multi
                    function /
                    Seven Seater </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button> </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 all des">
              <div class="product-item">
                <div class="owl-banner owl-carousel">
                  <img src="{% static 'images/int20.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int16.jpg' %}" alt=""></a>
                  <img src="{% static 'images/int17.jpg' %}" alt=""></a>
                </div>
                <div class="down-content">

                  <h4>Land Rover Range</h4>
                  </a>
                  <h6>Rs 75,000,000</h6>
                  <p>Model: Land Rover Range LWB Autobiography 2019</p>
                  <p>Transmisson :tiptronic</p>
                  <p>Condtion: Brand New</p>
                  <p>Description : Petrol / Leather Electric Seats / Panoramic Sunroof / Meridian Sound System / Pixel
                    Laser Head Lamps </p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn filled-button btn-danger text-light font-weight-lighter m-2"
                    data-toggle="modal" data-target="#exampleModal">Submit Offer</button> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <ul class="pages">
          <li><a href="active">1</a></li>
          <li class=""><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group">

            <input type="text" class="form-control" name="model" id="recipient-name" value="" placeholder="Model">
          </div>
          <div class="form-group">

            <input type="text" class="form-control" name="name" id="recipient-name" placeholder="Name">
          </div>
          <div class="form-group">

            <input type="text" class="form-control" name="email" id="recipient-name" placeholder="Email">
          </div>
          <div class="form-group">

            <input type="text" class="form-control" name="phone" id="recipient-name" placeholder="Phone">
          </div>
          <div class="form-group">

            <input type="text" class="form-control" name="amount" id="recipient-name" placeholder="Quote Amount">
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea rows="5" class="form-control" name="message"
              id="message-text">I am interested in a price quote on this vehicle. Please contact me at your earliest convenience with your best price for this vehicle.</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}