<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <title>Exotic Auto Traders</title>
  {% load static %}

  <link rel="icon" href="{% static 'images/car.png' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!--

-->

  <!-- Additional CSS Files -->
 <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.css' %}">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index">
          <h2> Exotic <em> Auto </em> Traders</h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="Vehicle.html">Our Vehicles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>Exotic Auto Traders Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <ul>
              <li class="active" data-filter="*">All Products</li>
              <li data-filter=".des">Featured</li>
              <li data-filter=".dev"> News Deals</li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="filters-content">
            <div class="row grid">
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/vehicle1.jpg" alt="">
                    <img src="static/images/int4.webp" alt="">
                    <img src="static/images/int5.jpg" alt="">
                  </div>
                  <div class="down-content">
                    
                      <h4>Toyota Prius<br>ZVW50 2016</h4>
                    </a>
                    <h6>Rs 6,500,000</h6>
                    <p>Model: Toyota Prius ZVW50 2016</p>
                    <p>Transmisson :Automatic/Hybrid</p>
                    <p>Condtion: Used / 20000km</p>
                    <p> Description :1 st owner / Petrol / stearling warrenty and services records availlble/ accident
                      free car /
                      reverse cameras/ setup</p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/vehicle2.jpg" alt=""></a>
                    <img src="static/images/int2.webp" alt=""></a>
                    <img src="static/images/int3.webp" alt=""></a>
                  </div>
                  <div class="down-content">
                    
                      <h4>Toyota CHR GT <br> TURBO 2017</h4>
                    </a>
                    <h6>Rs Rs 7,675,000</h6>
                    <p>Model: TOYOTA CHR GT TURBO</p>
                    <p>Transmisson :Automatic</p>
                    <p>Condtion: Brand New</p>
                    <p> Description : Petrol / Gray colour / led headlights / day time running lights / multi function /
                      crusiecontrol / lane departure
                    </p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all ">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/int6.jpg" alt=""></a>
                    <img src="static/images/int7.jpg" alt=""></a>
                    <img src="static/images/int8.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    
                      <h4>BMW X1 NewFace <br> 2019</h4>
                    </a>
                    <h6>Rs 16,240,000</h6>
                    <p>Model: BMW X1 NewFace</p>
                    <p>Transmisson :Automatic</p>
                    <p>Condtion: Brand New</p>
                    <p>Description : Petrol / Navy Blue colour / Panoramic Sunroof / day time running lights / multi
                      function /
                      BMW Navigation Plus</p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all ">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/int9.jpg" alt=""></a>
                    <img src="static/images/int10.jpg" alt=""></a>
                    <img src="static/images/int11.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    
                      <h4>Mercedes Benz <br> C200 AMG </h4>
                    </a>
                    <h6>Rs 15,500,000</h6>
                    <p>Model: Mercedes Benz c200</p>
                    <p>Transmisson :tiptronic</p>
                    <p>Condtion: used / 11000km</p>
                    <p>Description : Petrol /2200Cc / silver colour / Panoramic Sunroof / Active Park Assistant / multi function
                      / 18” AMG Wheels / Full Option</p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/int13.webp" alt=""></a>
                    <img src="static/images/int14.jpg" alt=""></a>
                    <img src="static/images/inttt.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    
                      <h4>Honda CRV EX </h4>
                    </a>
                    <h6>Rs 16,790,000</h6>
                    <p>Model: Honda CRV 2018</p>
                    <p>Transmisson :tiptronic</p>
                    <p>Condtion: Brand New</p>
                    <p>Description : Petrol / Red colour / Panoramic Sunroof / 1500 Cc Turbo Vti-L Grade / multi
                      function /
                      Seven Seater </p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 all des">
                <div class="product-item">
                  <div class="owl-banner owl-carousel">
                    <img src="static/images/int20.jpg" alt=""></a>
                    <img src="static/images/int16.jpg" alt=""></a>
                    <img src="static/images/int17.jpg" alt=""></a>
                  </div>
                  <div class="down-content">
                    
                      <h4>Land Rover Range</h4>
                    </a>
                    <h6>Rs 75,000,000</h6>
                    <p>Model: Land Rover Range LWB Autobiography 2019</p>
                    <p>Transmisson :tiptronic</p>
                    <p>Condtion: Brand New</p>
                    <p>Description : Petrol / Leather Electric Seats / Panoramic Sunroof / Meridian Sound System / Pixel
                      Laser Head Lamps </p>
                  </div>
                  <div class="card-footer">
                    <Large class="text-muted m-2"><a href="#" class="filled-button">Submit Offer</a></Large>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <ul class="pages">
            <li><a href="active">1</a></li>
            <li class=""><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
             <p>Copyright &copy; 2020 Exotic Auto Traders</P>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0;

    function clearField(t) {
      if (!cleared[t.id]) {
        cleared[t.id] = 1;
        t.value = '';
        t.style.color = '#fff';
      }
    }
  </script>


</body>

</html>